NEXT_PUBLIC_API_URL=https://api.skillswap.asia
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CALENDAR_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CALENDAR_REDIRECT_URI=http://localhost:3000/vi/mentor/google-calendar/callback
